body { padding: 0; margin: 0; font-family: "\5FAE\8F6F\96C5\9ED1", Helvetica, Arial,Verdana, sans-serif; }
img { border: none; }
#Header { background: #EEBF02; height: 61px; padding: 0; border-bottom: 1px solid #3c3c3c;  }
#Header img { display: block; margin: 0 auto 0; }
#MainContent { }
#Footer { padding: 10px; border-top: none; } 
#SocialLinks { padding: 10px 0 0 0; }
#SocialLinks:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
#SocialLinks a { display: block; float: left; padding-right: 15px; }
.gallery { list-style: none; padding: 0; margin: 0; }
.gallery:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
.gallery li { float: left; width: 33.33333333%; }
.gallery li a { display: block; margin: 5px; border: 1px solid #3c3c3c; }
.gallery li img { display: block; }
/* For inline examples only */
#PhotoSwipeTarget { width: 100%; height: 240px; z-index: 1; background: #666666; } 
#PhotoSwipeTarget img { width: 320px; height: 240px;}
#Indicators { text-align: center; height: 10px; top: 210px; left: 0px; width: 100%; z-index: 5; position: absolute; }
#Indicators span { display: inline-block; height: 5px; width: 5px; margin: 0 4px 0 0; padding: 0; -webkit-border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; border-radius:5px; background: #c5c5c5; overflow:hidden; }
#Indicators span.current{ background: #0099FF; color: #0099FF; }
.nxqalbum #slider { width: 320px; margin-right: auto; margin-left: auto; }
.sw_loading {background: #fff url(//img2.soufun.com/wap/touch/img/loading.gif) no-repeat center}
.focusCount .on {background: #df3031;border-radius: 3px;box-shadow: inset 1px 1px 2px rgba(0,0,0,.4);overflow: hidden;}
.focusCount{text-align: center;left: 0px;width: 100%;height: 10px;top: 210px;z-index: 5;position: absolute;}
.focusCount li{display: inline-block;
height: 5px;
width: 5px;
margin: 0 4px 0 0;
padding: 0;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-o-border-radius: 5px;
border-radius: 5px;
background: #c5c5c5;
line-height: 100px;
overflow: hidden;}