@charset "utf-8";
@media screen and (min-width: 750px){
html {
    font-size: 40px!important;
 }
}/* 0901*/
*{padding: 0;margin: 0;box-sizing: border-box;}
ul{list-style: none;}
body{font-family:Arial,Microsoft YaHei;background-color: #000000;max-width: 18.75rem;margin: 0 auto}
.center{text-align: center;}
.rel{position: relative;}
.hide{display: none;}
a{text-decoration: none;}
.fl{float: left;display: inline;}
.fr{float: right;display: inline;}
img{width: 100%;max-width: 100%;}
input,textarea,button{ -webkit-appearance:none;outline:none;}
input[type="radio"]{ -webkit-appearance:radio;}
input[type="checkbox"]{ -webkit-appearance:checkbox;}
textarea{resize: none;outline: none;}
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;}
.clearfix:after { display: block; clear: both; content: ""; visibility: hidden; height: 0; }
.clearfix { zoom: 1; }
/* 颜色 */
.yellow{color: #ffff01}
.red{color: #fb0000}
.black{color: #000000;}
.white{color: #ffffff;}
/* 背景色 */
.bg_yellow{backgroud-color: #ffff01}
.bg_red{backgroud-color: #fb0000}
/* flex */
.flexbox{ display: box; display: -webkit-box; display: -moz-box; display: -ms-box; -webkit-box-orient:horizontal; box-orient:horizontal;}
.flexbox > *{ display: block; box-flex:1; -webkit-box-flex:1; -moz-box-flex:1; -ms-box-flex:1;}
body:not(:-moz-handler-blocked) .flexbox { width: 100%;} /*for FF*/
/*首页*/
.banner{width:18.75rem;height:17.85rem;padding-top: 7.85rem;background: url(../images/banner_index.jpg ) no-repeat ; background-size: 100% ;margin: 0 auto;position: relative;}
a.bq_rqb{background-color: #000000;border-top-right-radius: 23px;border-bottom-right-radius: 23px;text-indent: 0.5rem;
    position: fixed;left: 0;top: 0.45rem;font-size:0.8rem;color: #fff;padding:0.15rem 0.5rem  0.15rem 0rem;z-index: 1;
      animation: colorchange 0.9s  infinite;
    -moz-animation: colorchange 0.9s infinite; /* Firefox */
    -webkit-animation: colorchange 0.9s infinite;  /* Safari 和 Chrome */
    -o-animation: colorchange 0.9s infinite;   /* Opera */}/*0904*/
.rank_zhou{background: url(../images/rankz_bg.png) no-repeat;width: 15.925rem;height:6.0rem; background-size: 100% ;margin: 0 auto;
;position: relative;} 
.rank_zhou .topbn{width:6.5rem;text-align: center;}/* 0905 */
.rank_zhou .topbn i{}
.rank_zhou .top1{position: absolute;top:2.2rem;left:50%;transform:translate(-50%) }/* 0905 */
.rank_zhou .top2{position: absolute;top: 3.2rem;left:0.75rem;}/* 0905 */
.rank_zhou .top3{position: absolute;top:3.2rem;right:0.85rem;}/* 0905 */
.rank_zhou .topb1{background: #ffff01; }
.rank_zhou .topb2{background: #9ee110;}
.rank_zhou .topb3{background: #db41c3;}
/* .rank_zhou .topb{max-width: 4.5rem;overflow: hidden;text-align: center;border-radius: 15px;   
    display: inline-block;border: 1px solid #000;box-shadow: 1px 1px 1px 1px  rgba(45,45,45,0.6);font-size: 0.5rem;padding: 0.08rem  0.2rem;} */
.rank_zhou .topb{max-width: 6.5rem;overflow: hidden;text-align: center;border-radius: 15px;  height: 0.975rem; line-height: 0.975rem;
    display: inline-block;border: 1px solid #000;box-shadow: 1px 1px 1px 1px  rgba(45,45,45,0.6);font-size: 0.5rem;padding: 0rem  0.2rem;
text-overflow:ellipsis;white-space: nowrap;}/* 0905 */
.top_a{padding: 0 0.8rem;margin-top: -2rem;position: absolute;height: 1.25rem;text-align: center;}
.top_a_three a{width: 5.4rem!important;float: left;display: inline-block;}
.top_a_one a{width: 17rem!important;float: left;display: inline-block;}/* 0911 */
.top_a_two a{width: 8.3125rem!important;float: left;display: inline-block;}/* 0911 */
.top_a  a{float: left;display: inline-block;width: 4.0rem;text-align: center;font-size: 0.75rem;color: #ffffff;
border-radius: 24.5px;border: 1px solid #ffff01;margin-right: 0.375rem;background-color: #000;padding: 0.1rem 0}
.top_a  a:last-child{margin-right: 0}
.top_a  a:hover,.top_a  a.active{border: 1px solid #000;color: #000;background-color:#ffff01 }
.qh_con{width: 17.0rem;margin: 0 auto }
.qh_con  li:first-child{margin-top: 0}
.qh_con  li{width: 17.0rem;height: 3.5rem;overflow: hidden;margin-top: 0.5rem;}
.qh_con   .vote_shu{position: absolute;right: 0.25rem;top: 0.5rem;width: 3.65rem;line-height: 0.625rem;height: 0.625rem;display: inline-block;text-align: center;}
.qh_con   .vote_shu a{background: url(../images/big_tou.png) no-repeat;
width: 1.75rem;height: 1.75rem;display: block;background-size: 100%;margin: 0 auto}
.qh_con   .vote_shu a.active{background: url(../images/big_tou1.png) no-repeat;
width: 1.75rem;height: 1.75rem;display: block;background-size: 100%;margin: 0 auto}
.qh_con   .number_vote {color:#fb0000;font-size: 0.7rem;display: block;width: 3.65rem;
text-align: center;margin-top: 0.3rem;} 
.qh_con   .number_vote i{background: url(../images/xin_tou.png) no-repeat;
background-size: 100%;width: 0.7rem;height: 0.625rem;margin-right: 0.125rem;display: inline-block;vertical-align: middle;}
.qh_con   .number_vote b{display: inline-block;max-width: 2.1rem;height: 0.625rem;overflow: hidden;vertical-align: middle;text-align: center;line-height: 0.625rem;}
.qh_con   .number_vote u{text-decoration: none;display: inline-block;vertical-align: middle;}
.lp_bang{margin: 0.5rem 0.85rem;}
.lp_bang li{float: left;display: inline;margin-right: 0.5rem;margin-bottom: 0.5rem;background-color: #ffff01;
    width: 8.25rem;height: 2.0rem;font-size: 0.6rem;padding: 0.25rem 0.4rem;position: relative;}/* 20170831 */
.lp_bang li div.fl{height: 1.5rem;display: inline-block;}/* 20170914 */
.lp_bang li div.fr a{background: url(../images/small_tou.png) no-repeat;
width: 1.525rem;height:1.5rem;display: block;background-size: 100%;}
.lp_bang li div.fl .lp_bangtitle{width: 5.9rem;height: 0.75rem;overflow: hidden;display: block;line-height: 0.75rem;    white-space: nowrap;
    text-overflow: ellipsis;}/* 20170914 */
.lp_bang li div.fr a.active{background: url(../images/small_tou1.png) no-repeat;
width: 1.525rem;height:1.5rem;display: block;background-size: 100%;}
.lp_bang li:nth-child(2n){margin-right: 0}
.lp_bang   .number_vote {color:#fb0000;font-size: 0.6rem;display: block;margin-top: 0.15rem;line-height: 0.525rem;} 
.lp_bang   .number_vote i{background: url(../images/xintousm.png) no-repeat;
background-size: 100%;width:0.6rem;height: 0.525rem;float: left;margin-right: 0.05rem;display: inline;}
.lp_bang   .number_vote b{float: left;display: inline;height: 0.625rem;padding-right: 0.05rem;
    overflow: hidden;text-align: center;line-height: 0.625rem;vertical-align: middle;}/* 0904 */
.ch_more a{color: #e00505;font-size: 0.7rem;display: block;text-align: center;text-decoration: underline;}
.ch_more{clear: both;margin-top: 0.85rem;}
.rules_rq h2{width: 10.75rem;height: 1.4rem;text-align: center;margin: 0 auto;margin-top: 1.0rem}
.rules_rq p{font-size: 0.6rem;color: #fff;line-height: 0.85rem}
.rq_con{padding: 0.75rem 1.0rem }
.gy_pro{clear: both}
.gy_pro h2{width: 6.75rem;height: 1.4rem;text-align: center;margin: 0 auto;margin-top: 0.5rem}
.gy_pro h3{width: 11.125rem;height: 1.275rem;text-align: center;margin: 0 auto;margin-top: 0.6rem}
.gy_pro p{font-size: 0.6rem;color: #fff;line-height: 0.85rem;text-align: center;}
.gy_pro p.spe{line-height: 1rem}
.ewm .img{display: block;width: 5.0rem;height: 5.0rem;margin: 0 auto}
.ewm p{font-size: 0.6rem;color: #fff;line-height: 0.85rem;text-align: center;margin-top: 0.5rem;margin-bottom: 1.25rem}
.share_title{color:#cccccc;font-size: 0.8rem;text-align: center;margin-bottom: 2.0rem;margin-top: 0.9rem}
.share_icon a{float: left;width: 1.9rem;height: 1.9rem;margin-right: 1.75rem}
.share_icon{height: 1.9rem;width: 12.85rem;margin: 0 auto}
.share_icon a:last-child{margin-right: 0}
.share{border-top: 1px solid #313131;padding-top: 1.1rem}
.share_icon a.qq{background: url(../images/qq_icon.jpg) no-repeat; background-size: 100%}
.share_icon a.qzone{background: url(../images/qzong_icon.jpg) no-repeat; background-size: 100%}
.share_icon a.webchat{background: url(../images/webchat_icon.jpg) no-repeat; background-size: 100%}
.share_icon a.webquan{background: url(../images/webquan_icon.jpg) no-repeat; background-size: 100%}
.bang_tab_con{display: none;}
.bang_tab_con.on{display: block;}
/*  代言人招募 */
.banner .dyren_zm{width: 15.5rem;height: 4.8rem;margin: 0 auto;background-color: #ffff01;border: 1px solid #000;border-radius: 10px;
padding:0.5rem 0rem; }
.dyren_zm_top{height: 3.375rem}
.dyren_zm_top div.fl{padding-left: 0.375rem;display: inline-block;text-align: center;width: 9rem;}
.dyren_zm_top div.logo{height: 0.9rem;width:9rem;text-align: center; overflow: hidden;font-size: 0.9rem;font-weight: bold;line-height: 0.9rem;
overflow: hidden;white-space: nowrap;text-overflow:ellipsis;margin-bottom: 0.45rem}
.dyren_zm_top div.num_piao{text-align: center;width: 9rem;display: inline-block;line-height: 0.9rem;height: 0.9rem;}
.dyren_zm_top p.details{margin-top: 0.35rem;height: 0.75rem;line-height: 0.75rem}
.dyren_zm_top p.details a {font-size: 0.65rem;color: #000}
.dyren_zm_top p.details  span{font-size: 0.65rem;color: #000;text-decoration: underline;}
.dyren_zm_top   .number_vote {color:#fb0000;font-size: 0.9rem;display: block;line-height: 0.9rem;} 
.dyren_zm_top   .number_vote i{background: url(../images/xin_toubig.png) no-repeat;vertical-align: middle;
background-size: 100%;width: 1.0rem;height: 0.9rem;margin-right: 0.125rem; display: inline-block;}
.dyren_zm_top   .number_vote b{display: inline-block;font-size: 1rem;margin-right: 0.1rem; 
    height: 0.9rem;overflow: hidden;text-align: center;vertical-align: middle;}
.time{clear: both;font-size: 0.7rem;color: #ffff01;
    text-align: center;margin: 0 auto;margin-top: 0.2rem;}
 .time i{background: url(../images/clock.png) no-repeat ;background-size: 100%;
display: inline-block;width: 0.85rem;height: 0.85rem;vertical-align: text-bottom;}
.dyren_zm_top div.fr a{display: block;background: url(../images/dyrbg.png) no-repeat; background-size: 100%;width: 2.85rem;height: 2.85rem;
    margin-right: 1.25rem;margin-top: 0.4rem}
.time span{color: #fff;background-color:#e32702;border-radius: 4px;font-size: 0.7rem;
    padding: 0.05rem 0.15rem;margin: 0 0.05rem;height:0.85rem;line-height: 0.75rem;
display: inline-block;}
.dyr_bang{margin-top: 0.65rem}
.dyren{margin:0rem  1.25rem 0;float: left;}
.dyren  li{height: auto;float: left;display: inline;
    margin-right: 1.25rem;margin-bottom: 1.25rem;background-color: #ffff01;}
.dyren  li:nth-child(2n){margin-right: 0}
.dyren  li .ren_top{width: 7.26rem;height:12.35rem; overflow: hidden;margin: 2px; margin-bottom: 0}
.dyren  li .ren_top img.chatu{display: block;height: 100%;width: 100%}
.dyren  li .ren_top a b,.dyren  li .ren_top  b{display: block;font-size: 1.8rem;width: 2.1rem;height: 2.1rem;
    border-radius: 50%;position: absolute;right: 0.2rem;top: 0.2rem;background-color: #ffff01;
text-align: center;line-height: 2.2rem;color: #000000}
.dyren  li .ren_bot  a.toudyr_btn{display: block;
background: url(../images/tpzc.png) no-repeat; background-size: 100%;width: 2.4rem;height: 0.85rem;
}
.dyren  li .ren_bot  a.toudyr_btn.active{display: block;
background: url(../images/tpzc1.png) no-repeat; background-size: 100%;width: 2.4rem;height: 0.85rem;
}
.dyren  li .ren_bot{padding: 0.25rem 0.5rem;float: left;    width: 100%;   line-height:   0.85rem;}
.dyren   .number_vote {color:#fb0000;font-size: 0.7rem;display: block;width: 3.65rem;
text-align: left;} 
.dyren   .number_vote i{background: url(../images/xin_tou.png) no-repeat;
background-size: 100%;width: 0.7rem;height: 0.625rem;margin-right: 0.125rem;display: inline-block;vertical-align: middle;}
.dyren   .number_vote b{display: inline-block;max-width: 2.1rem;height: 0.625rem;overflow: hidden;vertical-align: middle;text-align: center;line-height: 0.625rem;}
.dyren   .number_vote u{text-decoration: none;display: inline-block;vertical-align: middle;}
.dyzm_rules h2{width: 12.8rem;margin: 0 auto;text-align: center;color: #ffff01;font-size: 1.15rem;}/*  20170907*/
.dyzm_rules {text-align: center;    clear: both;}
.dyzm_rules p{font-size: 0.7rem;color: #fff;margin-bottom: 0.5rem;margin-top: 0.25rem}
.wydy {width: 8.225rem;height: 2.9rem;display: block;margin: 0 auto}
.dyjl_rules{margin-top: 0.5rem}
.dyjl_rules  div.dyjl{font-size: 0.8rem;color: #000;line-height: 1.5rem;
    background-color: #ffff01;height: 1.4rem;text-align: center;padding: 0rem 1.85rem;
    border-radius: 28px;max-width: 12.0rem;margin: 0 auto;display: inline-block;overflow: hidden;}
.dyjl_rules  span{position: relative;display: block;}
.dyjl_rules  span:before{
    position: absolute;
    content: '';
    width: 0.8rem;
    height: 0.8rem;
    background: url(../images/start.png) no-repeat;
    background-size: 100%;
    left: -1.2rem;top: 0.25rem
}
.dyjl_rules  span:after{
    position: absolute;
    content: '';
    width: 0.8rem;
    height: 0.8rem;
    background: url(../images/start.png) no-repeat;
    background-size: 100%;
    right: -1.2rem;top: 0.25rem
}
.dyjl_rules_con p {
    line-height: 1.1rem;
    text-align: justify;
    margin-bottom: 0;
    margin-top: 0;
}    
.dyjl_rules_con {
    margin-top: 0.6rem;
    margin-bottom: 0.9rem;
    display: inline-block;
}
.zuopenbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: rgba(0,0,0,.7);
}
.zuopenbox .opencon{width:15.0rem;height: 10.0rem;
    background:#ffff01;border-radius:4px;position: absolute;top:50%;left:50%;
    margin:-8rem 0 0 -7.5rem;border: 3px solid #000}
.zuopenbox  .close { width:2.4rem;height:2.4rem;margin:0 auto;display: block;position: absolute;
    top: 12.0rem;left: 50%;margin-left: -1.2rem;
    background:url(../images/close.png) no-repeat;background-size: 100%;cursor:pointer}
.opencon .openList{padding:1.3rem 1.5rem;}
.opencon .openList dl {font-size: 0.9rem;color: #000;
    line-height:1.5rem;margin-bottom: 0.5rem;}
.opencon .openList dl dt{line-height:1.6rem;float: left;}   
.opencon .openList .btn-tj {
    display: block;
    width: 7.95rem;
    height: 1.675rem;
    margin: 0 auto;
    clear: both;
    line-height: 1.675rem;
    font-size: 0.9rem;
    border: none;
    border-radius: 30px;
    text-align: center;
    background-color: #e00505;
    color: #fff;
    text-decoration: none;
    margin-left: 2.4rem;
    margin-top: 0.4rem
}
.opencon .openList span.error{font-size: 0.6rem;color: #e00505;margin-left: 1.25rem;display: block;margin-top: 0.375rem}
.opencon .openList .ipt-text {
    background-color: #fff;
    color: #0c0d0e;
    border: 1px solid #000;
    line-height: normal;
    font-size: 0.6rem;
    width: 7.95rem;
    height: 1.5rem;
    margin: 0 0.3rem;
    -webkit-appearance: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-indent: 4px;
    border-radius: 0;
    margin-left: 0.85rem
}
.opencon .openList.success{text-align: center;padding:0rem 1.2rem;}
.opencon .openList.success h4{font-size: 1.2rem;margin-top:2.5rem;margin-bottom: 0.75rem;line-height: 1 }
.opencon .openList.success p{font-size: 0.9rem;line-height: 1.2rem}
.play-icon {
    position: absolute;
    width: 3.0rem;
    height: 3.0rem;
    top: 50%;
    left: 50%;
    margin-left: -1.5rem;
    margin-top: -1.5rem;
}/* 0907*/
/* 口碑榜 */
.banner_kbb{width:18.75rem;padding-top:9.15rem;
background: url(../images/kbbbg.jpg ) no-repeat ; background-size: 100% ;margin: 0 auto;margin-bottom: 0.85rem;position: relative;}
.dp_rules{}
.dp_rules h4{width: 11.025rem;height: 3.4rem;display: block;margin: 0 auto;margin-bottom: 0.65rem}
.dp_rules h5{width:6.75rem;height:1.4rem;display: block;margin: 0 auto;margin-bottom: 0.65rem}
.dp_rulescon {width: 17.35rem;height: 2.2rem;background: rgba(0,0,0,0.7);margin: 0 auto;padding: 0.25rem 0.5rem}
.dp_rulescon p{font-size: 0.6rem;line-height: 0.8rem;color: #fff}
.top_a_kbb{height: 1.25rem;padding: 0 0.8rem;
display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
-webkit-box-flex: 1;}
.top_a_kbb  a{float: left;display: inline-block;width: 4.0rem;text-align: center;font-size: 0.8rem;color: #ffffff;line-height: 1rem;
border-radius: 24.5px;border: 1px solid #ffff01;margin-right: 0.375rem;background-color: #000;padding: 0.1rem 0;
}
 .top_a_kbb  a:last-child{margin-right: 0} 
.top_a_kbb  a:hover,.top_a_kbb  a.active{border: 1px solid #000;color: #000;background-color:#ffff01 }
.gm_title{text-align: center;font-size: 0.8rem;margin-top: 0.55rem;}
.gd_zm{width: 16.075rem;height: 1.1rem;background-color: #ffffff;color: #fb0000;background-color: #ffffff;border-radius: 20px;margin: 0 auto;
margin-top: 0.5rem;font-size: 0.6rem;font-weight: bold;line-height: 1.2rem;text-align: center;overflow: hidden;}
.kbb{width: 17.0rem;margin: 0 auto;}
.kbb li{width: 17.0rem;background-color: #000000;float: left;
border-radius: 28px;border: 1px solid #ffff01;margin-top: 0.5rem;color: #fff;font-size: 0.6rem;
padding: 0.2rem}
.kbb li:last-child{margin-bottom:0.95rem;}
.kbb li span.number{background-color:  #ffff01;color: #000000;border-radius: 19px;text-align: center;
width: 1.7rem;font-size: 0.7rem;font-weight: bold;line-height: 1.05rem;height: 0.95rem;}
.kbb li span.lp_name{ font-weight: bold;margin-left: 1rem;width: 6.17rem;height: 0.95rem;overflow: hidden; line-height: 1.05rem;white-space: nowrap;text-overflow:ellipsis}
.kbb li span.lp_score{ width: 4.1rem;height: 0.95rem;overflow: hidden; line-height:1.05rem;}
.kbb li a.lp_dpbtn{background-color:  #ffff01;color: #000000;border-radius: 19px;
height: 0.95rem;width: 3.5rem;text-align: center;line-height: 1.05rem}
.kbb li a.lp_dpbtn.active{background-color:  #ffb231;color: #ffffff;}
.kbb li:first-child{background-color: #970510}
.kbb li:nth-child(2){background-color: #a74a0a}
.kbb li:nth-child(3){background-color: #4e1f49} 

/* 口碑榜单 */
.kbbd {}
.kbbd  h3 {width: 14.675rem;height: 1.5rem;margin: 0 auto;margin-bottom: 0.6rem}
.banner_kbb.spe{padding-top: 8.625rem;margin-bottom: 1.25rem}
.city_bd{width: 16.1rem;background-color: #ffff01;margin: 0 auto;
border-radius: 10px;border: 1px solid #000000}
.city_bd ol{padding: 0.75rem;list-style: none;padding-right: 0.5rem}
.city_bd li.city_list  a{color: #000000;margin-right: 0.9rem;margin-bottom: 0.5rem;display: inline-block;}/* 0911 */
.city_bd li.city_list  a:hover{background-color:#dcdcdc;}
.city_bd li.city_list{font-size: 0.8rem;}/* 0911 */
.city_bd li.city_list .zimu{margin-right: 0.5rem}
.city_bd li.city_list.chang  a{margin-right: 0.55rem}/* 0911 */
.city_bd li.city_list.chang  a:last-child{margin-right: 0}

.banner_spe{width:18.75rem;padding-top: 8.625rem; 
    background: url(../images/banner_index.jpg ) no-repeat ;    
    background-size: 100% ;margin: 0 auto;margin-bottom: 1.25rem;}

/* 人气榜首页添加城市 */
.city_choice{text-align: center;}
.city_on a{color: #ffffff;font-size: 0.6rem;border-radius: 20px;padding: 0 0.7rem;
height: 1.0rem;background-color: #000000;display: inline-block;line-height: 1.0rem;margin-bottom: 0.25rem}
.city_on span {position: relative;padding-right: 0.75rem;}
.city_on span:after{
    position: absolute;
    content: '';
    top: 25%;
    right: 0.01rem;
    width:0; height:0; 
     border-left: 0.3rem solid transparent;
    border-right: 0.3rem solid transparent;
    border-top: 0.35rem solid #ffffff;
} 
.city_choice .city_bd{text-align: left;position: absolute;z-index: 1;
left: 50%;margin-left: -8.05rem}

/* 分享弹窗 */
.share-s2 {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.8);
    z-index: 9999;
}
.share-s2 .pic1 {
    padding-top: 3%;
    margin: 0 auto;
    margin-bottom: 12%;
    
}
.share-s2 .pic2 {
        margin: 0 auto;
    margin-top: 10%;
    width: 10.2rem;
    height: 10.4rem;
}
.share-s2 .share-btn {
    display: block;
    width: 5.7rem;
    margin: 0 auto;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.share-s2 .share-b {
    position: absolute;
    width: 100%;
    bottom: 4%;
}
/*投票数量加动画样式*/
.add-num{
    display:none;
}
.add-num .add-animation{
    color: #000;
    position:absolute;
    top:-0.375rem;
    right: 0.25rem;
    font-size: 0.8rem;
    opacity: 0;
    filter: Alpha(opacity=0);
    -moz-opacity:0;
    animation: mypraise 1s ;
    -moz-animation: mypraise 1s ; /* Firefox */
    -webkit-animation: mypraise 1s ;  /* Safari 和 Chrome */
    -o-animation: mypraise 1s ;   /* Opera */
    font-style:normal;
}
 .add-num .add-animation.hover {
    color: #fb0000;
}
/*投票数量加减动画开始*/
@keyframes mypraise
{
    0%{
        top:-0.375rem;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity:0;
    }
    25%{
        top:-0.625rem;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity:0.5;
    }
    50%{
        top:-0.875rem;
        opacity: 1;
        filter: Alpha(opacity=100);
        -moz-opacity:1;
    }
    75%{
        top:-1.125rem;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity:0.5;
    }
    100% {
        top:-1.375rem;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity:0;
    }
}

@-moz-keyframes mypraise /* Firefox */
{
    0%{
        top:-0.375rem;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity:0;
    }
    25%{
        top:-0.625rem;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity:0.5;
    }
    50%{
        top:-0.875rem;
        opacity: 1;
        filter: Alpha(opacity=100);
        -moz-opacity:1;
    }
    75%{
        top:-1.125rem;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity:0.5;
    }
    100% {
        top:-1.375rem;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity:0;
    }
}

@-webkit-keyframes mypraise /* Safari 和 Chrome */
{
      0%{
        top:-0.375rem;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity:0;
    }
    25%{
        top:-0.625rem;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity:0.5;
    }
    50%{
        top:-0.875rem;
        opacity: 1;
        filter: Alpha(opacity=100);
        -moz-opacity:1;
    }
    75%{
        top:-1.125rem;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity:0.5;
    }
    100% {
        top:-1.375rem;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity:0;
    }
}

@-o-keyframes mypraise /* Opera */
{
     0%{
        top:-0.375rem;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity:0;
    }
    25%{
        top:-0.625rem;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity:0.5;
    }
    50%{
        top:-0.875rem;
        opacity: 1;
        filter: Alpha(opacity=100);
        -moz-opacity:1;
    }
    75%{
        top:-1.125rem;
        opacity: 0.5;
        filter: Alpha(opacity=50);
        -moz-opacity:0.5;
    }
    100% {
        top:-1.375rem;
        opacity: 0;
        filter: Alpha(opacity=0);
        -moz-opacity:0;
    }
}
/* 字体变色 st */
@keyframes colorchange
{
    0%{
       color: #ffffff;
    }
   
    25%{
       color: #ffff01;
    }
   75%{
       color: #ffffff;
    }
    100% {
        color: #ffff01;
    }
}
@-webkit-keyframes colorchange
{
    0%{
       color: #ffffff;
    }
   
    25%{
       color: #ffff01;
    }
   75%{
       color: #ffffff;
    }
    100% {
        color: #ffff01;
    }
}
@-moz-keyframes colorchange
{
    0%{
       color: #ffffff;
    }
   
    25%{
       color: #ffff01;
    }
   75%{
       color: #ffffff;
    }
    100% {
        color: #ffff01;
    }
}
@-o-keyframes colorchange
{
     0%{
       color: #ffffff;
    }
   
    25%{
       color: #ffff01;
    }
   75%{
       color: #ffffff;
    }
    100% {
        color: #ffff01;
    }
}
/* 字体变色 end */
/*投票数量加减动画结束*/
/*投票弹层*/
.opencon1{width:12.5rem;height: 3.75rem;
    background:#ffff01;border-radius:4px;position: absolute;top:50%;left:50%;
    margin:-1.825rem 0 0 -6rem;border: 3px solid #000;text-align: center;}
.opencon1 p{font-size: 0.75rem;line-height: 0.85rem;padding-top: 0.9rem;}
.opencon1  .close{top: 5.65rem!important;}
/*视频播放页面*/
.video-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.header{ position: relative; height: 44px; line-height: 44px; }
.header .left{ position: relative; z-index: 5; float: left;}
.header .back{ float: left;padding:6px 4px; text-align: center;margin-left:4px;}
.header .back i{ float:left; width: 32px; height: 32px; background: url(../images/xq_icons.png) 0 0 no-repeat; background-size:128px auto;}

/*插图样式*/

input,
textarea {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.sc_tu {
    background: url(../images/tou_bg.png) no-repeat center #747474;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-size: 100%;
    width: 17.35rem;
    margin: 0 auto;
    height: 73.33%;
    text-align: center;
    overflow: hidden;
    margin-top: .5rem;
}

.sc_cz {
    width: 4.25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -3.125rem;
    margin-left: -2rem;
    background: url(../images/jia1.png) no-repeat center top;
    background-size: 100%
}

.sc_cz_wrap p.tishi_yu {
    font-size: .7rem;
    color: #fff;
    text-align: center;
    padding-top: 15.8rem;
    margin-bottom: 12%
}

.sc_tu label {
    color: #fff;
    text-align: center;
    width: 4.25rem;
    height: 6.25rem;
    border-bottom: 1px solid #d2d2d2;
    background-size: 100%;
    font-size: .7rem;
    line-height: 12rem;
    padding-bottom: .25rem
}

input.shangchuan {
    z-index: 9;
    opacity: 0;
    filter: alpha(opacity=0);
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 4.25rem;
    height: 6.25rem;
}

input.shangchuan::focus {
    background: none
}

.tu_xian {
    border: 1px solid red;
    height: 21.95rem;
    overflow: hidden;
}
.tu_xian .loading{
    width: 0.8rem;height: 0.8rem;position: absolute;top: 50%;left: 50%;display: none
}
.tu_bianji {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #ffffff;
    margin: 0 auto;
    width: 17.35rem;
    padding: .75rem 1rem;
    overflow: hidden
}

.tu_bianji textarea {
    outline: 0;
    width: 11.5rem;
    height: 4rem;
    border-radius: 0;
    padding: .4rem;
    background-color: #eeeeee;
    border: 1px solid #bfbfbf;
    font-size: 0.7rem;
    font-family: "微软雅黑"
}

.tu_bianji textarea:focus {
    user-select: text;
}

.tu_bianji a.bjdy {
    color: #535353;
    font-size: 0.7rem;
    border-bottom: 1px solid #8b8b8b;
    padding-bottom: 0.3rem;
    margin-top: 1.75rem;
    display: block;
}

.tiao_bot {
    text-align: center;
    margin: .6rem auto 0;
}

.tu_bianji .text_area {
    width: 11.5rem;
    height: 4.05rem;
    overflow: hidden
}

.tu_bianji .zixian {
    color: #535353;
    font-size: 0.7rem;
    font-weight: bold;
    line-height: 1rem;
    text-align: justify
}

.tiao_bot .tiao_guo {
    color: #ffffff;
    height: 1.3rem;
    line-height: 1.3rem
}

.tiao_bot .confirm {
    width: 11.75rem;
    margin: 0 auto
}

.tiao_bot .tiao_guo a {
    color: #ffffff;
    font-size: .75rem;
}

.tiao_bot .tiao_guo i {
    background: url(../images/tg_bg.png) no-repeat;
    background-size: 100%;
    width: 1.3rem;
    height: 1.3rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: .25rem
}

.tiao_bot .tiao_guo a.huan_tu i {
    background: url(../images/huantu_bg.png) no-repeat;
    background-size: 100%;
    width: 1.3rem;
    height: 1.3rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: .25rem
}

.tiao_bot .tiao_guo a.que_ren i {
    background: url(../images/queren_bg.png) no-repeat;
    background-size: 100%;
    width: 1.3rem;
    height: 1.3rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: .25rem
}