@charset "UTF-8";
/*
 * For wap module
 */
/* 城市列表 */
ul, ol, li p{ list-style-type:none; display: block; margin:0rem; padding:0rem}
P{-webkit-margin-before: 0em;
-webkit-margin-after: 0em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;}
.cityMain{ padding:0 14px;}
.cityMain h3{line-height:1;font-size:14px;color:#83868f; padding: 20px 0 14px 0;}
.cityMain .name{position:relative;height:36px;line-height:36px;background:#fff;border-radius: 2px;overflow:hidden;}
.cityMain .name span{position:relative;display:block;padding-left:36px;font-size:14px;color:#565c67;}
.cityMain .name span:before{content:'';position:absolute;width:11px;height:16px;left:16px;top:50%;margin-top:-7px;background:url(../images/city_icon1.png) no-repeat;background-size:100%;}
.cityMain .name span.err{color:#ff6666;}
.cityMain .name span.err:before{background:url(../images/city_icon3.png) no-repeat;background-size:100%;}
.cityMain .name span.on{color:#ff6666;}
.cityMain .name span.on:before{background:url(../images/city_icon2.png) no-repeat;background-size:100%;}
.cityMain .name span a{display:inline-block;padding:0 10px;margin-left:-10px;}
.cityMain .name > a{position:absolute;width:36px;height:36px;right:6px;top:0;}
.cityMain .name .cityName{ width:84%;}/*20151229*/
.cityMain .name .cityName a{ width:100%;}/*20151229*/
.cityMain .name > a i{display:block;width:100%;height:100%;background:url(../images/city_loading.png) center center no-repeat;background-size:18px;}
.cityMain .cityBox{overflow:hidden;margin:-5px 0;}
.cityMain .cityBox a{float:left;font-size:14px;width:32%;margin:5px 0;margin-left:2%;line-height:36px;background:#fff;text-align: center;color:#565c67;border-radius:2px;}
.cityMain .cityBox a:nth-child(3n+1){margin-left:0;}
.cityMain .tablebox{ border-radius: 2px; overflow: hidden;background:#fff;padding:10px 0;}
.cityMain .tablebox a{ display: block; font-size:14px;padding: 10px 0;text-align: center;color:#565c67;line-height:1;}
.cityMain .tablebox table{ position: relative;width: 100%;}
.cityMain .tablebox td{width: 33%;}
.cityMain .word{padding-left:10px;overflow: hidden; *zoom:1;}
.cityMain .word a{float: left; width:16%;}
.loading-city{-webkit-animation: loading-city 0.6s infinite linear;}
@-webkit-keyframes loading-city{
    0%{-webkit-transform: rotate(360deg);transform: rotate(360deg);}
    100%{-webkit-transform: rotate(0deg);transform: rotate(0deg);}
 }
@keyframes loading-city{
    0%{-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);-o-transform: rotate(360deg);transform: rotate(360deg);}
    100%{-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-o-transform: rotate(0deg);transform: rotate(0deg);}
 }

.searcyList{position:absolute;width:100%;top:50px;background-color:rgba(255,255,255,0.98);border-radius:4px;z-index:99;}
.searcyList div{height: 224px;overflow:hidden;}
.searcyList ul li{height:44px;line-height:44px;border-bottom:1px solid #f4f6f8;font-size:14px;color:#565c67;padding-left:17px;}
.searcyList ul li a{color:#565c67;}
.cityMain .word a.active{ color:#ff6666;}
/* 公交站点*/
.cityMain .tablebox .station{ padding:0 2px;}
.cityMain .tablebox .station a{float: left; padding:10px 13px;}