@charset "UTF-8";
.main{min-height:0;}
.pre {position: relative;}
.fwb {font-weight:bold}
.videoTop{ position: relative;background:#f8f8f8;left:0;top:0; z-index:100}
.videoTop .videobox{width:100%;height:100%;position:absolute;}
.videoTop-opt {height:35px;width:100%;position:absolute;max-width: 640px;bottom:14px;left:0;z-index:200;}
.videoTop-opt .ic-zan,.videoTop-opt .ic-share{position:absolute;margin:6px 4px;padding:0;width:35px;height:35px;text-align: center;background-color:rgba(0,0,0,.6);border-radius:50%;}
.videoTop-opt .ic-zan i,.videoTop-opt .ic-share i{display:block;width:32px;height:32px;background:url(../images/ic_video.png) no-repeat;background-size:96px auto;margin-left:2px;}
.videoTop-opt .ic-share{right:14px;top:0;}
.videoTop-opt .ic-zan{right:65px;top:0;}
.videoTop-opt .ic-share i{background-position: -64px 0}
.videoTop-opt .ic-zan.cur i{background-position: -32px 0}
.video-appbtn,.video-appbtn2{ display:block; width:100%; height:44px;line-height:44px;text-align:center;background:#ff5a5a;color:#fff!important; font-size:16px;border-radius:4px;}
.video-appbtn2{background:#fff;border:1px solid #ff5a5a;color:#ff5a5a!important;line-height:42px;}
.videojj h1,.videolist h1{font-size:16px;color:#3c3f46;font-weight:bold;padding:17px 0;}
.videojj{padding-bottom:20px;}
.videolist li{border-top:1px solid #f8f8f8;}
.videolist li > a{position:relative;display:block;padding:16px 0;overflow:hidden;*zoom:1;}
.videolist li .img{position:relative;float:left;width:106px;height:80px;margin-right:16px;overflow:hidden;}
.videolist li .img img{width:100%;height:100%;}
.videolist li .img p.icon-new {position: absolute;display: block;height: 14px;width: 100%;bottom: 4px;left: 0;}
.videolist li .img p.icon-new span{float:left;width:14px;height:14px; margin-left:5px;background: url(../images/list_img_icon.png) no-repeat; background-size: 42px auto;}
.videolist li .img p.icon-new span.video2{background-position:-28px 0;}
.videolist li .txt{ overflow: hidden; *zoom:1;}
.videolist li h3{ font-size: 15px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; line-height:18px;color:#3c3f46;margin-top:-1px;margin-bottom:4px;}
.videolist li p{color:#83868f;font-size:11px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;height: 20px;line-height: 20px;}
.videolist li .new{ float: right; font-size: 14px; color: #df3031;}
.videolist li p .space{padding:0 2px;}

.vedio-icon{position:absolute;width:60px;height:60px;left:50%;top:50%;margin:-30px 0 0 -30px;background:url(../images/vidwo_play.png) no-repeat;background-size:100%;z-index:300;}

.header .cent em{ position: absolute; left: 102px; right:52px; height: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;color: #0c0d0e;}
.askline2{text-overflow:ellipsis;display:-webkit-box; -webkit-box-orient:vertical;-webkit-line-clamp:2; overflow:hidden }

/*红色详情*/
.wrap {margin: 0 auto; max-width:750px;height:100%;overflow:hidden;position:relative;background:#ca1116 url(../images/v_bbg.png) left bottom no-repeat;background-size:100%;}
.toppic {display: block;width: 100%;height: auto;position: relative;padding-top:10px;}
.toppic .sh{width:0.7rem;height:0.7rem;background:url(../images/icon_sha.png) no-repeat;background-size:100%; position:absolute;top:0.18rem;right:0.22rem;}

.p1-1{position:relative;width:100%;padding-bottom:33.3%;background:url(../images/v_topbg.png) no-repeat;background-size:100%;}
.p1-1 > div{position:absolute;left:0;right:0;top:0;bottom:0;padding:12% 13% 20% 13%;color:#fff;font-size:16px;line-height:1.3;overflow:hidden}
.p1-2{ position:relative;width:92%;padding-bottom:94%;margin:0 auto;background:url(../images/v_cbg.png) no-repeat;background-size:100%; overflow:hidden}
.p1-2 > div{position:absolute;left:0;right:0;top:0;bottom:0;}
.vtit{line-height:20px;font-size:17px;color:#fff; text-align:center;padding:4% 0;margin-bottom:2px;overflow:hidden;}
.vcon{position:relative;width:96%;padding-bottom:53%;border:1px solid #410600;margin:0 2%;color:#fff;border-radius:2px;overflow:hidden;}
.vcon .videobox{position:absolute;width:100%;height:100%;left:0;right:0;top:0;bottom:0;}
.vcon img{position:absolute;width:100%;}
.vcon .sh{width:35px;height:35px;background:url(../images/v_icon_sh.png) no-repeat;background-size:100%; position:absolute;top:10px;right:12px;}
.vcon .v{width:45px;height:45px;background:url(../images/v_icon_v.png) no-repeat;background-size:100%; position:absolute;top:50%;left:50%;margin:-22px 0 0 -22px}
.vcon .num{height:25px;line-height:25px;background-color:rgba(0,0,0,.6);padding:0 12px 0 15px;font-size:11px; position:absolute;top:10px;left:5px;border-radius:13px;}
.vcon .zan{height:25px;line-height:25px;background-color:rgba(0,0,0,.6);padding:0 12px 0 15px;font-size:11px; position:absolute;bottom:34px;right:5px;border-radius:13px;}
.vcon .zan i{ display:inline-block;width:16px;height:14px;background:url(../images/v_icon_z.png) no-repeat;background-size:100%;margin-right:8px;vertical-align:middle;margin-top:-2px;}
.vcon .zan i.w{ background-position:0 -15px;}
.vtita{height:20px;line-height:20px;font-size:16px;color:#fff; text-align:center;margin:4% 0;overflow:hidden;}
.vtita em{color:#ffe683;margin:0 10px;}
.vuser{width:86%; margin:0 auto;overflow:hidden;}
.vuser .td{position:relative;width:45px;height:45px;border:2px solid #c91216;border-radius:50%;margin:0 auto; overflow:hidden;}
.vuser .td img{width:100%;height:100%;}
.vuser .td.more{background:url(../images/v_icon_da.png) no-repeat;background-size:100%;border:0}
.vuser .td a{height:100%;display:block}
.btn01{width:90%;padding-bottom:12%;background:url(../images/v_btn01.png) no-repeat;background-size:100%; margin:30px auto; display:block}
@media screen and (max-width: 320px){
.p1-1 > div{font-size:14px;}
.vtit{font-size:15px;}
.vtita{font-size:14px;}
.vuser .td{width:40px;height:40px;}
}
