*{margin:0; padding:0;}
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 { -webkit-text-size-adjust:none;}
body {font-family:Arial, "Microsoft Yahei";background: #1db3ff;}
body.choose{height: 100%;overflow: hidden;}
form, img, table, td { border:0;}
ul, ol, li { list-style-type:none; display: block;}
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal;}
input, textarea, img { vertical-align:middle; font-family:Arial, "Microsoft Yahei";}
a {color:#3c3f46;text-decoration:none;}
html,body{ height: 100%;width:100%;}
em,i{font-style:normal;}
html>img{display: none;}
.clear { clear: both; height: 0px; font-size: 0px; visibility: hidden; line-height: 0;}
.clearfix:after{ clear: both; content: "\200B"; display: block; height: 0;}
.clearfix{ *zoom: 1;}
.box{margin: 0 auto;max-width:640px;min-height: 100%;width:100%;}
.box img{width:100%;display:block;}
.textBox{width:100%;background:url(../images/bg_line.png) repeat-x;background-size:100% 100%;}
.textBox ul{border:1px solid #fff;color:#fff;font-size:16px;margin:23px 37px 0;line-height:22px;padding:8px 11px;}
.textBox ul li{margin-top:5px;}
.textBox ul li i{float:left;width:4px;height:4px;border-radius:50%;background:#fff;margin:9px 5px 0 0;}
.textBox ul li span{float:left;width:94%;}
.rule{color:#fff;font-size:16px;padding:0 32px;background:url(../images/img_bg.jpg) no-repeat;background-size:100% 100%;}
.rule li{line-height: 24px;position:relative;}
.rule li span{position:relative;margin-right:10px;}
.rule li span i{display:block;position:absolute;background:url(../images/num.png) no-repeat;background-size:8px 8px;width:8px;height:8px;bottom:0px;right:-3px;}
.box img.bottom_img{width:55%;display:block;margin:15px auto 0;padding-bottom:40px;}