
/*public*/
html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;font-size: 12px;}
html,body{font-family: Microsoft Yahei;background-color:#2db7f8; color:#051440;}
html{width: 100%;height:100%;margin:0 auto;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,span,input,textarea,p,th,td,hr,button,article,aside,footer,header,menu,nav,section{margin:0;padding:0}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
img{border:0;}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
a:hover{text-decoration:none}
ins,a{text-decoration:none}
input,button,select,textarea{-webkit-appearance:none;border:none;outline: none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
.clearfix:after{
    content:"";
    display:block;
    height:0;
    font-size:0;
    visibility:hidden;
    clear:both;
}
.clearfix{
    *zoom:1;
}
.fl {float: left;}
.fr {float: right;}
/*index*/	
.mode{width:100%;}
.mode-head{width:100%;height:8.453rem;position:relative;}
.banner,.bg{width:100%;}
.val1{position: absolute;left:50.3%;top:6.15rem;width:0.933rem;height:auto;}
.val2{position: absolute;left:38%;top:6.4rem;width:0.453rem;height:auto;}

.animate1 {
-webkit-animation: animate1 1s linear 0s infinite;
animation: animate1 1s linear 0s infinite;
}
@-webkit-keyframes animate1{
0%,50%,100%{-webkit-transform:scale(1) translate(0)}
25%{-webkit-transform:scale(1.004) translateY(5px)}
75%{-webkit-transform:scale(1.004) translateY(-5px)}
}
@keyframes animate1{
	0%,50%,100%{-webkit-transform:scale(1) translate(0)}
	25%{-webkit-transform:scale(1.004) translateY(5px)}
	75%{-webkit-transform:scale(1.004) translateY(-5px)}
}

.animate2 {
-webkit-animation: animate2 1s linear 0s infinite;
animation: animate2 1s linear 0s infinite;
}
@-webkit-keyframes animate2{
0%,50%,100%{-webkit-transform:scale(1) translate(0)}
25%{-webkit-transform:scale(1.004) translateY(2px)}
75%{-webkit-transform:scale(1.004) translateY(-2px)}
}
@keyframes animate2{
	0%,50%,100%{-webkit-transform:scale(1) translate(0)}
	25%{-webkit-transform:scale(1.004) translateY(2px)}
	75%{-webkit-transform:scale(1.004) translateY(-2px)}
}

/*mode-first*/
.mode-first{width:100%;height:8.973rem;padding-top:0.2rem;position:relative; background: url(../images/bg1.jpg?v=123) 0 0 no-repeat; background-size: cover;}
.avatar{width:1.21rem;height:1.21rem;margin:0 auto;border-radius: 50%;}
.avatar img{width:100%;height:100%;border-radius: 50%;}
.user{overflow:hidden;}
.user-name{width:100%;height:0.85rem;line-height: 0.85rem;text-align:center;font-size: 0.4rem;}
.user .runoff{padding: 0 8.4% 0.9rem;overflow: hidden;}
.runoff li{width:50%;height:1.466rem;text-align: center;float:left;}
.runoff li p{font-size: 0.32rem;line-height: 0.4267rem;}
.runoff li span{font-size: 0.426rem;line-height: 1.02rem;font-weight:bold;}
.flow{width:72%;margin:0 auto;height:1.35rem;position: relative;}
/*.flow{overflow:hidden;}*/
.bg{width:66%;height:2px;background:#73bcfe; float: left;}
.bg2{width:10%;position: relative;}
.bg-on{height:2px;background:#1781f7;position:relative;}	
.bg-on span{ position:absolute;right:-0.5rem;top:-0.6rem;padding:0 7px;display:inline-block; background-color:#1781f7;color:#fff;height:0.4rem;line-height:0.4rem;}
.bg-on span::after{content: "";width:10px;height: 5px;position:absolute;left:50%;top:0.426rem;margin-left: -5px;background: url("../images/arr.png?v=123") 0 0 no-repeat;}
.dot-wrap{width: 66%;}
.dot-wrap li{width:97.4%;height:1rem;float: left;position: relative;}
.dot-wrap .dot,.dot-wrap .dot-on,.bg2 .dot{display:inline-block;width:20px;height:20px;background:url(../images/dot.png?v=123) 0 0 no-repeat;position: absolute;right:-10px;top:-10px;}
.bg2 .dot{top:-8px;}
.dot-wrap .dot-on{background-image:url(../images/dot-on.png?v=123);}
.dot-wrap .num{font-size: 0.32rem;color:#4c1b1b;height:0.72rem;line-height: 0.72rem;position: absolute;right:-0.53rem;top:10px;}
.dot-wrap .first{width:2.6%;}
.dot-wrap .first .num{left:auto;right:-29px;}
.dot-wrap .first .dot,.dot-wrap .first .dot-on{left: auto;left: -10px;}
.btn{display:block;width:78.37%;height:auto;margin:0 auto;}
.user p{font-size: 0.32rem;text-align: center;}
.user p.pt{padding-top:0.3rem;}
.red{color:#fd342f;line-height: 0.586rem;}
.tixian{width:1.573rem;height:0.573rem;position: absolute;right:-0.2rem;top:-0.2rem; background:url("../images/tx.png?v=123") 0 0 no-repeat; background-size: contain;}
.disabled{background-image: url("../images/tx-ed.png?v=123");}
.invite{width:72%; margin-left:12%;position: relative;height: 1.35rem; font-size: 0.32rem;}
.invite p{ text-align: left;}
.invite .btn{width:1.973rem;height:auto;position: absolute;right:-0.4rem;top:0.3em;}
/*invite*/
.invite-code{}
.invite-code h3,.invite-code p{width:76%;margin:0 auto;position: relative;}
.invite-code h3{height:1.467rem;line-height:1.467rem;padding-bottom:0.23rem;font-size: 0.48rem;}
.invite-code .copy{display:inline-block;width:1.573rem;height:0.573rem;background: url(../images/copy.png?v=123) 0 0 no-repeat; background-size: cover;position: absolute;right:0;top:0.453rem;}
.blue{color:#1781f7;}
.invite-code p{line-height:0.413rem;}
.invite-top{width:100%;height:2.32rem;background: url(../images/invite-top.jpg?v=123) 0 0 no-repeat; background-size: cover;}
.invite-con1,.invite-con2{width:100%;height:2.53rem;background: url(../images/invite-con1.jpg?v=123) 0 0 no-repeat; background-size: cover;}
.invite-con2{height:3.86rem;background-image: url(../images/invite-con2.jpg?v=123);}
.invite-bot{width:100%;height:1.6rem;background: url(../images/invite-bot.jpg?v=123) 0 0 no-repeat; background-size: cover;}
.submit,.get{width:76%;height:0.85rem;line-height: 0.85rem; margin-left:14%; margin-top: 0.35rem;position: relative;}
.submit input{width:80%;height:100%;}
.get{ margin-top:0.42rem;height:1rem;line-height: 1em;}
.get p{width:80%;height:1rem;line-height: 1rem; margin: 0;font-size: 0.37rem;}
.submit-btn,.get-btn{display: block;width:2.32rem;height:0.88rem;position: absolute;right:-0.04rem;top:-0.02rem; background: url(../images/get.png?v=123) 0 0 no-repeat;background-size: cover;}
.get-btn{ background-image: url(../images/submit.png?v=123);top:0.04rem;}
.submit input::-moz-placeholder,textarea::-moz-placeholder { color: #b5e7ff; }
.submit input::-webkit-input-placeholder,textarea::-webkit-input-placeholder { color:#b5e7ff; }
.submit input:-ms-input-placeholder,textarea:-ms-input-placeholder { color:#b5e7ff; }
/*mode-second*/
.mode-second{width:100%;height:9rem;padding-top: 1.773rem;background: url(../images/bg2.jpg?v=1234) 0 0 no-repeat; background-size: cover;}
.record{width:86.67%;height:4rem;margin:0.8rem auto;position: relative;overflow: hidden;}
.record li{height:0.8rem;line-height:0.8rem;}
.record li span{display:inline-block;height:0.8rem;line-height:0.8rem;float: left;}
.record .head{display:inline-block;width:0.72rem;height:0.72rem;overflow:hidden;border:0.04rem solid #3795f9;border-radius:50%;margin-right:0.226rem;}
.record .head img{display:block;width:100%;height:100%;}
.record .name{color:#4c1b1b;margin:0 auto;}
.record .time{float:auto;float: right;font-size: 0.293rem;}
/*mode-third*/
.mode-third{width:100%;height:8.9rem;padding-top: 1.92rem;background: url(../images/bg3.jpg?v=123) 0 0 no-repeat; background-size: cover;}
.agent{width:81.4%;height:1.77rem;line-height: 1.77rem;margin:0 auto;color: #4c1b1b;font-size: 0.32rem;}
.agent .head{display:inline-block;width:0.72rem;height:0.72rem;border:0.04rem solid #ffeacd;border-radius: 50%;position: relative;left:0;top:0.2rem; margin-right: 0.267rem;}
.agent .head img{display:block;width:100%;height:100%;border-radius:50%;}
.agent .name{font-size: 0.4rem; margin-right: 0.4rem;}
.house-wrap{width:81.4%;height: 2.8rem;padding-top:0.426rem;margin:0 auto;}
.house{float:left;width:3.73rem;height:2.8rem;padding-right: 0.28rem; overflow: hidden;}
.house img{width:100%;height:100%;}
.news{float: left;width:4.13rem;}
.news .tit{font-size:0.4rem;font-weight: bold;overflow:hidden;max-height:0.936rem;line-height:0.49rem; text-overflow: ellipsis;word-break: break-all; -webkit-box-orient: vertical; -webkit-line-clamp: 2;}
.news .desc,.news .ip{padding-top:0.2rem;}
.news .prices{padding-top:0.2rem;}
.news .price{font-size:0.4rem; font-weight: bold; color:#ff3f00;}
.news .price span{font-size:0.3rem;font-weight: normal;}
.news .tel,.news .ques{float: right;margin-left:0.14rem;}
.news .tel img,.news .ques img{width: 0.7rem;height:auto;}
/*mode-fourth*/
.mode-fourth{width:100%;height:7.9rem;background: url(../images/bg4.jpg?v=123) 0 0 no-repeat; background-size: cover;}
/*mode-fifth*/
.mode-fifth{width:100%;height:16rem;background: url(../images/bg5.jpg?v=123) 0 0 repeat-x; background-size: cover;}
.mode-fifth .txt{width:83%;margin:0 auto;}
.mode-fifth .txt p{line-height: 0.46rem; font-size: 0.32rem;color:#051440;}
.txt .pt{margin-top: 0.45rem;}
/*mode-list*/
.mode-list{width:100%;height:auto;/*padding-top:3rem;*//*background: url(../images/list-bg.jpg?v=123) 0 0 no-repeat; */background-size: cover;position:relative;}
.mode-list .con{width:100%;padding-top: 0.9rem;text-align: center;color:#724f4f;}
.mode-list .ewms{width:100%;height:3.8667rem;background: url(../images/list-cen2.jpg?v=123) repeat-y;background-size:contain;}
.mode-list .ewm{width:3.467rem;height:3.467rem;border:5px solid #ffb608;margin:0 auto;}
.mode-list .ewm img{width:100%;height:auto;}



.mode-list .list-top{width:100%;height:2.3067rem;background: url(../images/list-top.jpg?v=123) no-repeat;background-size: contain;}
.mode-list .list-con{width:100%;height:1.946rem;background: url(../images/list-cen.jpg?v=123) no-repeat;background-size: contain;}
.mode-list .btn-lq{display:block;width:64%;height:0.9rem;margin: 0 auto;padding-top:0.36rem;}
.btn-lq img{width: 100%;}
.mode-list .list-bot{width:100%;height:2.64rem;background: url(../images/list-bot.jpg?v=123) no-repeat;text-align: center;line-height: 0.56rem;color:#724f4f;background-size: contain;}


.x-share{position:relative;padding:20px;}
.x-share .tit{font-size:10px;color:#83868f;text-align:center;line-height:1;}
.x-share .tit i{display:block;width:216px;height:30px;margin:0 auto;margin-bottom:2px;background:url(../images/x_share_t.png?v=123) no-repeat;background-size:100%;}
.x-share .x-ewm{margin-top:15px;text-align:center;}
.x-share .x-ewm > div:first-of-type{width:135px;height:135px;background:#fbebeb;padding:5px;margin:0 auto;}
.x-share .x-ewm > div:first-of-type img{width:100%;height:100%;}
.x-share .x-ewm > p{font-size:12px;color:#565c67;line-height:1;margin-top:6px;margin-bottom:14px;}
.x-share .x-ewm .blist{height:18px;overflow:hidden;}
.x-share .x-ewm .blist p{font-size:12px;color:#565c67;line-height:18px;}
.x-share .x-ewm .blist p span{color:#dc3a3a;}
.x-share .intro-icon{position:absolute;width:20px;height:20px;top:28px;right:9%;background:url(../images/x_share_icon.png?v=123) no-repeat;background-size:100%;}
.x-share-bg{position:fixed;width:100%;left:0;top:0;bottom:0;background:rgba(0,0,0,.4);z-index:99;}
/*.x-share-close{position:absolute;width:0.533rem;height:0.59rem;top:0.133rem;right:0.186rem;background:url(../images/close.png?v=123) no-repeat; border: hidden; border-radius: 0%}*/
.x-share-closenew{position:absolute;width:0.65rem;height:0.65rem;top:0.133rem;right:0.186rem;background:url(../images/close.png?v=123) no-repeat;background-size:100% 100%;}
.x-share-out{position:fixed;max-height:80%;left:0;right:0;bottom:0;background:#fff;z-index:99;padding:0 0.267rem;padding-top:0.4rem;padding-bottom:0.2667rem;}
.x-share-out .tit{width:100%;height:0.746rem;background:url(../images/x_out_t.png?v=123) center no-repeat;background-size:auto 100%;margin-bottom:36px;}
.x-share-out .x-con{position:relative;padding:0.693rem 0 0.533rem 0;border:1px solid #8bcbfe;margin-bottom:0.8rem;}
.x-share-out .x-con ul{overflow: hidden;}
.x-share-out .x-con:last-child{margin-bottom:0;}
.x-share-out .x-con .t{position:absolute;top:-0.133rem;left:0.133rem;font-size:0.373rem;color:#051440;font-weight:600;line-height:0.373rem;background:#fff;padding:0 0.2667rem 0 0.533rem;}
.x-share-out .x-con .t:before{content:'';position:absolute;width:0;height:0;left:10px;top:50%;margin-top:-5px;border:5px solid #4c1b1b;border-color:transparent transparent transparent #4c1b1b;}
.x-share-out .step li{position:relative;width:33.3%;text-align:center;float: left;}
.x-share-out .step li:after{content:'';position:absolute;width:8px;height:14px;right:0;top:0.693rem;background:url(../images/x_step_arr.png?v=123) no-repeat;background-size:100%;}
.x-share-out .step li:last-child:after{display:none;}
.x-share-out .step li > div{position:relative;width:1.6rem;height:1.6rem;border-radius:50%;background:#8bcbfe;margin:0 auto;}
.x-share-out .step li > div:before{content:'';position:absolute;width:0.4rem;height:0.4rem;line-height:0.4rem;top:0;left:-1px;background:#1781f7;text-align:center;color:#fff;font-size:0.32rem;border-radius:50%;}
.x-share-out .step li i{display:inline-block;width:0.746rem;height:0.373rem;margin-top:0.613rem;}
.x-share-out .step li:first-child i{background:url(../images/x_step1.png?v=123) no-repeat;background-size:100%;}
.x-share-out .step li:nth-child(2) i{background:url(../images/x_step2.png?v=123) no-repeat;background-size:100%;}
.x-share-out .step li:nth-child(3) i{background:url(../images/x_step3.png?v=123) no-repeat;background-size:100%;}
.x-share-out .step li:first-child > div:before{content:'1';}
.x-share-out .step li:nth-child(2) > div:before{content:'2';}
.x-share-out .step li:nth-child(3) > div:before{content:'3';}
.x-share-out .step p{font-size:0.293rem;color:#051440;line-height:0.426rem;margin-top:0.32rem;}
.x-share-out .introli li{font-size:0.293rem;color:#051440;line-height:0.453rem;padding:0 0.373rem;margin-bottom:0.32rem;}
.x-share-out .introli li:last-child{margin-bottom:0;}
.x-share-out2{position:fixed;width:6.4rem;left:57%;top:30%;margin-left:-3.73rem;background:#fff;border-radius:4px;padding:0.64rem 0.533rem;text-align:center;z-index:100;}
.x-share-out2 i{display:block;width:3.066rem;height:1.866rem;margin:0 auto 0.32rem;background:url(../images/x_o_icon.png?v=123) no-repeat;background-size:100%;}
.x-share-out2 i.i2{width:1.653rem;height:2.267rem;background:url(../images/default_dataCommon.png?v=123) no-repeat;background-size:100%;}
.x-share-out2 h4{font-size:0.426rem;color:#0c0d0e;line-height:1;margin-bottom:0.133rem;}
.x-share-out2 p{font-size:0.32rem;color:#83868f;line-height:0.48rem;}
.x-share-out2 .btn{display:block;height:0.96rem;line-height:0.96rem;font-size:0.373rem;color:#fff!important;background:#1781f7;border-radius:6px;margin-top:0.373rem;width:100%;}
.x-share-out2 i + p{margin-top:0.2rem;}
.x-share-out2 i.i2 + p{margin-top:0.106rem;}
.x-share-out2 > div{font-size:0.32rem;color:#0c0d0e;line-height:0.48rem;padding:0.2667rem 0;border-top:1px solid #f8f8f8;}
.x-share-out2 > div + .btn{margin-top:0;}
.x-share-out2 .x-share-close{top:0.2667rem;right:0.2667rem;}


.x-share-bg {position: fixed;width: 100%;left: 0;top: 0;bottom: 0;background: rgba(0,0,0,.4);z-index: 99;}

/*mode-hot*/
.mode-hot{width:100%;height:3rem;line-height:2rem;background: url(../images/mode-hot.jpg?v=123) 0 0 no-repeat; background-size: 100% 100%;text-align: center;}
.mode-hot a{display:block;width:100%;height:100%;position: relative;color:#1781f7;font-size: 0.4rem;}
.mode-hot .hot{position:absolute;display: inline-block;width:1.48rem;height:1.026rem;background:url("../images/hot.gif") no-repeat; background-size: 100% 100%;left:0.1rem;top:-0.2rem;}

.tx-over{width:2rem;right:-0.65rem;background-image: url(../images/tx-over.png?v=123);}

.bg-red{ background-color: #fcacab;}
.mode-love{height:8.45rem;}
.mode-surp{width:100%;height:12.22rem;background:url(../images/love1.jpg?v=123) no-repeat;background-size:100%;padding-top:0.4rem;position: relative;}
.mode-surp h3{height:1.066rem;line-height: 1.066rem;font-size:0.36rem;color: #fff; text-align: center;}
.rolling {width: 67.8%;height: auto;position: absolute;left: 16.1%;top: 3.63rem;animation: myroll 1000s infinite;-webkit-animation: myroll 1000s infinite;-moz-animation: myroll 1000s infinite;-ms-animation: myroll 1000s infinite;z-index: 2;}
.rolling img {display: block;width: 100%;height:auto;}
.circle {width:80%;height: auto;position: absolute;left: 10%;top: 3.01rem;z-index: 1;}
.pointer {width: 27%;height: auto;position: absolute;left: 36.5%;top: 5.4rem;z-index: 3;}

.mode-prize{width:100%;height:3.54rem;background: url(../images/love2.jpg?v=123) 0 0 no-repeat; background-size: cover;}
.mode-rank{width:100%;height:16.5rem;background: url(../images/love3.jpg?v=123) 0 0 no-repeat; background-size: cover;}
.bubble{width:69.6%;padding-top: 1.1rem;margin:0 auto;overflow:hidden;}
.bubble li{width:22.3%;padding:0 5.25%;font-size:0.4rem;font-weight:bold;color:#ef4a54; text-align: center;float:left; }

.areas{width:100%;height:auto;padding:2.02rem 0 0.573rem;}
.area{width:84%;height:1.067rem;font-size: 0.4rem;line-height:1.067rem;border:2px solid #feb6a6;margin:0 auto; border-radius:10px;text-indent: 0.29rem;position: relative; background-color:#fff;}
.area input{width:70%;height:100%;float: left; color:#ffb5ab; margin-left:2%;}
.area input::-moz-placeholder,textarea::-moz-placeholder { color: #ffb5ab; }
.area input::-webkit-input-placeholder,textarea::-webkit-input-placeholder { color:#ffb5ab; }
.area input:-ms-input-placeholder,textarea:-ms-input-placeholder { color:#ffb5ab; }
.area .ip{position: absolute;right:0;top: 0;width:50%;height:100%; border-radius:10px;background: #fff url("../images/arr-red.png?v=123") 96% center no-repeat;}
/*.area .ip-left{display:block;width:45%;height:1.067rem;float:left;color:#ffb5ab;}*/
.area .ip-right{display:block;width:85%;height:1.067rem;margin-right:15%;float:right;color:#ff2121;text-align:left;overflow:hidden;white-space: nowrap;text-overflow:ellipsis;}

.total{width: 65%;margin: 0 auto;overflow: hidden;}
.total .tit{height:1.093rem;line-height:1.093rem;width:100%;margin: 0 auto;color:#fff;}
.total .tit li{width:33.33%;text-align: center; float: left;}
.total .tit li:first-child{width:25.33%;padding:0 4%;}

.uv-rank{width: 100%;height:9.12rem;overflow: hidden;}
.uv-rank li{color:#333;}
.uv-rank li span{display: block;width:33.33%;float: left;}
.uv-rank li.red span{color:#ff343e;}
.uv-rank li span{width:33.33%;height:0.912rem;line-height:0.912rem;text-align: center;color:#333;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.uv-rank li span:first-child{width:25.33%;padding:0 4%;}

.top10{width:81%;height:1.07rem;padding-top: 0.586rem; margin:0 auto;}
.top10 a{display: block;width:100%;height:100%;background: url(../images/top10.png?v=123) 0 0 no-repeat; background-size: cover;}
.mode-mine{width:100%;height:8.29rem;background: url(../images/love4.jpg?v=123) 0 0 no-repeat; background-size: cover;}

.data{line-height:1.2rem;padding-top:1.4rem;font-size:0.32rem;color:#ff343e;text-align:center;}
.rank{width:84.2%;overflow: hidden; margin:0 auto;}
.own{width: 96%;height: 1.2rem;margin: 0 auto;}
.own li{float: left;font-size: .373rem;line-height: 1.2rem; color:#400909;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.own li span{color: #400909;}
.own .name,.own .city{width: 30%;}
.own .user{width: 40%;}
.number{width:100%;height:1.72rem;padding-top: 0.4rem;}
.number li{width:28%;font-size:.453rem;color:#361313;font-weight: bold;text-align: center;float: left;}
.number li.yestoday{width:38%;}
.number li.house-share{width:34%;}
.number li span{display:block;margin-top:0.35rem;}
.number li p{line-height:.5rem;font-size: .32rem; font-weight: normal;}

.look{width: 81%;height: 1.07rem;padding-top: 0.586rem;margin: 0 auto;}
.look a {display: block;width: 100%;height: 100%;background: url(../images/look.png?v=123) 0 0 no-repeat;background-size: cover;}
.mode-detail{width:100%;height:11.33rem;background: url(../images/love5.jpg?v=123) 0 0 no-repeat; background-size: cover;}
.mode-detail .con{width:84%;padding-top:1.5rem;line-height: 0.56rem;font-size:0.293rem;color:#400909;margin:0 auto;}

@keyframes myroll{
	from{
		transform:rotate(0deg);
		-ms-transform:rotate(0deg);     /* IE 9 */
		-moz-transform:rotate(0deg);    /* Firefox */
		-webkit-transform:rotate(0deg); /* Safari 和 Chrome */
		-o-transform:rotate(0deg);  /* Opera */
	}
	to{
		transform:rotate(36000deg);
		-ms-transform:rotate(36000deg);     /* IE 9 */
		-moz-transform:rotate(36000deg);    /* Firefox */
		-webkit-transform:rotate(36000deg); /* Safari 和 Chrome */
		-o-transform:rotate(36000deg);  /* Opera */
	}
}
@-moz-keyframes myroll
from{
	transform:rotate(0deg);
	-ms-transform:rotate(0deg);     /* IE 9 */
	-moz-transform:rotate(0deg);    /* Firefox */
	-webkit-transform:rotate(0deg); /* Safari 和 Chrome */
	-o-transform:rotate(0deg);  /* Opera */
}
to{
	transform:rotate(36000deg);
	-ms-transform:rotate(36000deg);     /* IE 9 */
	-moz-transform:rotate(36000deg);    /* Firefox */
	-webkit-transform:rotate(36000deg); /* Safari 和 Chrome */
	-o-transform:rotate(36000deg);  /* Opera */
}
}
@k-webkit-keyframes myroll{
	from{
		transform:rotate(0deg);
		-ms-transform:rotate(0deg);     /* IE 9 */
		-moz-transform:rotate(0deg);    /* Firefox */
		-webkit-transform:rotate(0deg); /* Safari 和 Chrome */
		-o-transform:rotate(0deg);  /* Opera */
	}
	to{
		transform:rotate(36000deg);
		-ms-transform:rotate(36000deg);     /* IE 9 */
		-moz-transform:rotate(36000deg);    /* Firefox */
		-webkit-transform:rotate(36000deg); /* Safari 和 Chrome */
		-o-transform:rotate(36000deg);  /* Opera */
	}
}
@-o-keyframes myroll{
	from{
		transform:rotate(0deg);
		-ms-transform:rotate(0deg);     /* IE 9 */
		-moz-transform:rotate(0deg);    /* Firefox */
		-webkit-transform:rotate(0deg); /* Safari 和 Chrome */
		-o-transform:rotate(0deg);  /* Opera */
	}
	to{
		transform:rotate(36000deg);
		-ms-transform:rotate(36000deg);     /* IE 9 */
		-moz-transform:rotate(36000deg);    /* Firefox */
		-webkit-transform:rotate(36000deg); /* Safari 和 Chrome */
		-o-transform:rotate(36000deg);  /* Opera */
	}
}

.mode-ll{width:100%;height:auto;}
.mode-ll-top{width: 100%;height: 2.5rem;background: url(../images/ll-top.jpg?v=123) no-repeat;background-size: contain;}
.mode-ll-cen1{width: 100%;height: 3.725rem;background: url(../images/ll-cen1.jpg?v=123) no-repeat;background-size: contain;}
.mode-ll-bot1{width: 100%;height: 1.33rem;background: url(../images/ll-bot1.jpg?v=123) no-repeat;text-align: center;line-height: 0.56rem;color:#051440;background-size: contain;}
.mode-ll-bot2{width: 100%;height: 1.624rem;background: url(../images/ll-bot2.jpg?v=123) no-repeat;background-size: contain;}
.mode-ll .ewm {width: 3.467rem;height: 3.467rem;border: 5px solid #8bcbfe;margin: 0 auto;}
.ewm img{width:100%;}
.mode-ll .ll-con {width: 100%;height: 1.942rem;background: url(../images/ll-cen2.jpg?v=123) no-repeat;background-size: contain;background-color: #b5e7fe!important;}
.mode-ll .btn-lq {display: block;width: 64%;height: 0.9rem;margin: 0 auto;padding-top: 0.36rem;}
.btn-lq img {width: 100%;}

.x-share1{width:75%;height:6.146rem;position:fixed;left:12.5%;top:20%;z-index: 999; background-color: #fff; border-radius: 15px;}
.close{width:0.534rem;height:0.534rem;background: url("../images/close.png?v=123") 0 0 no-repeat; background-size:cover;margin-top: 0.2rem;margin-right: 0.2rem;float: right;}
.x-share-out2 .pick{padding:0 0 0.2rem;overflow:hidden;}
.pick .btn-blue,.pick .btn-gray{display: block;width:40%;height:0.75rem;line-height: 0.75rem;border-radius:5px;background-color:#1781f7;color:#fff;text-align: center; float: left;}
.pick .fr{float: right;}
.pick .btn-gray{background-color:#83868f;}
.alignL{text-align: left;}

/*城市选择页面css*/
.mask{width:100%;height:100%;background: rgba(0,0,0,.4);position:fixed;left:0;top:0;z-index: 9;}
.city-list-wrap{width:90%;height:11.86rem;position:fixed;left: 5%;top:16%;z-index:10;background-color: #fff;border-radius:3px;}
.city-list{position: relative;left:0;top:0;height:10.65rem;overflow-y: scroll;}
.city-list-tit{width:96%;padding-left:4%;font-size: .426rem;line-height: 1.21rem;height:1.21rem;}
.city-list-tit span{border-right:1px solid #dfdfdf;margin-right:2%;width:.426rem;height:.426rem;overflow:hidden;}
.city-list-tit img{display:inline-block;width:.426rem;height:.426rem;margin-right: 2%;}
.city-list-con{font-size: .5rem;line-height: 1.32rem;}
.city-list-con h3{width:95%;padding-left:5%;text-align: left;font-size: .426rem;line-height: 0.8rem;color:#333;background-color: #f2f2f2;}
.city-list-con ul{overflow:hidden;}
.city-list-con li{width:100%;height:1.053rem;line-height:1.053rem;clear: both;}
.city-list-con a{display:block;width:25%;font-size: .373rem;line-height: 1.053rem;float: left;color:#666;text-align:center;}
.city-list-con li.bor-top{ border:1px solid #f2f2f2;}
.noscroll{height: 100%;overflow:hidden;}


#scroll_div {width: 100%;position: absolute;left: 0;top:0;height: 1rem;line-height: 1rem;overflow: hidden;white-space: nowrap;color:#3024a1; background:rgba(255,255,255,0.4);}
#scroll_begin,#scroll_end {display: block;}
.suona{display: inline-block;width:0.373rem;height:auto;position: relative;top:.05rem;left:0; margin:0 0.1rem; vertical-align: inherit;}