* {margin:0; padding:0;}
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 { -webkit-text-size-adjust:none;}
body {font-family:Arial, "Microsoft Yahei"; }
body.choose{overflow: hidden;}
form, img, table, td { border:0;}
ul, ol, li { list-style-type:none; display: block;}
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal;}
input, textarea, img { vertical-align:middle; font-family:Arial, "Microsoft Yahei";}
@media screen and (max-device-width: 320px) {body {-webkit-text-size-adjust:none}}
@media screen and (max-device-width: 480px) {body {-webkit-text-size-adjust:none}}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {body {-webkit-text-size-adjust:none}}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {body {-webkit-text-size-adjust:none}}
a {color:#3c3f46;text-decoration:none;}
html,body{ font-size: 0.32rem;height:100%;}
em,i{font-style:normal;}
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;}
.clear { clear: both; height: 0px; font-size: 0px; visibility: hidden; line-height: 0;}
.clearfix:after{ clear: both; content: "\200B"; display: block; height: 0;}
.clearfix{ *zoom: 1;}
.center { text-align: center;}
.none { display: none;}
.flol { float: left;}
.flor { float: right;}
img{ width: 100%;}
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;}
.wrap {margin: 0 auto; max-width:750px;height:100%;overflow:hidden;position:relative;background:#333131 url(../images/hbbg.jpg) no-repeat;background-size:100% auto;}
.txtlogo{width:2.78rem;height:0.53rem;margin:0.62rem auto 0;}
.txt1{width:5.79rem;height:1.56rem;margin:0.75rem auto 0;}
.txt2{width:5.78rem;height:1.36rem;margin:0.9rem auto 0;}
.txt3{width:4.26rem;height:2.71rem;margin:0.9rem auto 0;}

.btn{width:5.55rem;height:0.96rem;background:url(../images/btn.png) no-repeat;background-size:100%;margin:1.05rem auto 0; display:block}

/* fadeIn */

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
		    -webkit-animation-duration:3s;
          animation-duration:3s;
}
.fadeIn.d1{  -webkit-animation-duration:8s;
          animation-duration:8s;}

.fadeIn.d2{  -webkit-animation-duration:15s;
          animation-duration:15s;}


